body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal !important;
  letter-spacing: 0.1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
}

header .header-top {
  background: #a9171d;
  padding: 2px 0px;
}

header .header-top .hdt-social-network a {
  display: inline-block;
  margin-right: 15px;
  color: #ffffff;
}

header .header-top .hdt-shortnews i {
  display: inline-block;
  color: #ffffff;
}

header .header-top .hdt-shortnews marquee {
  display: inline-block;
  width: calc(100% - 30px);
  color: #ffffff;
  transform: translateY(2px);
}

.text-right {
  text-align: right !important;
}

.fa-rss {
  margin-right: 5px;
}

header .header-top .hdt-contact a {
  transform: translateY(2px);
  display: inline-block;
  margin-right: 15px;
  color: #ffffff;
}

header .header-top .hdt-contact a:last-child {
  margin-right: 0px;
}

a {
  text-decoration: none !important;
}

header .desktop-header {
  padding: 15px 0px;
  height: 131px;
}

.align-items-center {
  height: -webkit-fill-available;
  align-items: center;
}

.search-form-wrapper {
  position: relative;
  border: solid 1px #ebebeb;
  width: 290px;
}

.search-form-wrapper #searchauto {
  width: 100%;
  position: relative;
}

.search-form-wrapper #searchauto .input-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.search-form-wrapper #searchauto .input-group input#searchtext {
  height: 25px;
  padding: 5px 15px 5px 15px;
  border: solid 1px transparent;
  /* border-radius: 30px; */
  width: calc(100% - 25px);
}

.search-form-wrapper #searchauto .input-group span.input-group-btn {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
}

.search-form-wrapper #searchauto .input-group span.input-group-btn button {
  color: #d51c24;
}

.input-group .search-btn {
  border: none;
  background: white;
}

header .desktop-header .hd-account {
  display: inline-block;
  margin-right: 30px;
  position: relative;
}

header .desktop-header .hd-account>a {
  display: inline-block;
  margin-right: 30px;
  color: #333333;
  cursor: pointer;
}

header .desktop-header .hd-account>a:hover {
  color: #d51c24;
}

header .desktop-header .wishlist_btn {
  display: inline-block;
  margin-right: 30px;
  position: relative;
}

header .desktop-header .wishlist_btn {
  display: inline-block;
  margin-right: 30px;
  position: relative;
}

header .desktop-header .wishlist_btn #onAppWishList_btn_page>a #onAppWishList_numberLike {
  display: inline-block;
  line-height: normal;
  position: absolute;
  right: -10px;
  top: -12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #d51c24;
  color: #fff;
  font-size: 12px !important;
  text-align: center;
  font-family: "UVF-ProductSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.fa-heart,
.fa-bag-shopping {
  font-size: 23px;
}

header .desktop-header .desktop-cart-wrapper {
  display: inline-block;
  position: relative;
}

header .desktop-header .desktop-cart-wrapper>a.hd-cart {
  position: relative;
  display: inline-block;
  color: #333333;
}

header .desktop-header .desktop-cart-wrapper>a.hd-cart span.hd-cart-count {
  display: inline-block;
  line-height: normal;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #d51c24;
  color: #fff;
  font-size: 12px;
  text-align: center;
  font-family: "UVF-ProductSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#onAppWishList_btn_page {
  display: block;
}

.product-item {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  background: #fff;
  padding: 5px;
}

.product-item .product-img {
  position: relative;
  overflow: hidden;
}

.product-item .product-img>a {
  display: block;
  overflow: hidden;
}

.product-item .product-img .product-tags .tag-saleoff {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  background: #d51c24;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
}

.product-item .product-info {
  margin-top: 5px;
}

.product-item .product-title {
  margin-bottom: 5px;
}

.product-title>a {
  color: #333333;
  min-height: 34px;
}

span.current-price {
  color: #d51c24;
}

span.original-price {
  color: #bebebe;
  float: right;
}

.product-img img {
  width: -webkit-fill-available;
}

.tag-saleoff {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  background: #d51c24;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
}

.text-container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

#home-pro-products {
  margin-bottom: 30px;
}

.main-slider {
  margin-bottom: 40px;
  position: relative;
}

.large--one-whole a {
  color: #d51c24;
  text-decoration: none;
  background: transparent;
}

.product-item:hover {
  -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35);
}

.dropbtn {
  background: #d51c24;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: -webkit-fill-available;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background: #d51c24;
}

#megamenu-wrapper .megamenu-nav-wrapper {
  z-index: 3;
  position: relative;
}

#megamenu-wrapper {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  height: 0px;

}

#breadscrumb-wrapper5 {
  position: relative;
}

.breadcrumb-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
}

.breadcrumb-big h2 {
  font-size: 24px;
  color: #fff;
  padding: 0px;
  margin: 0px 0px 5px 0px;
}

.breadcrumb-small a,
.breadcrumb-small span {
  color: #fff;
}

#collection-wrapper {
  padding: 30px 0px;
  background-color: #f3f2f0;
}

.collection-item-tacgia {
  background: #fff;
  margin-bottom: 30px;
}

.collection-item-tacgia .c-author-listing--title {
  border-bottom: 0.2rem solid #ee2932;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 15px;
  width: 100%;
  text-transform: uppercase;
}

.collection-item-tacgia .lastname {
  font-size: 20px;
  font-weight: bold;
  display: block;
  clear: both;
  width: 100%;
}

.collection-item-tacgia img {
  width: -webkit-fill-available;
}

.breadscrumb-w-img>img {
  width: -webkit-fill-available;
}

.accordion {
  background: #fff;
  border: 1px solid #e6e6e6;
  margin-bottom: 30px;
  border-radius: 3px;
  overflow: hidden;
}

.panel {
  padding: 0px 15px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

div.panel>ul {
  padding: 15px 0px 0px 0px;
}

.no-bullets {
  list-style: none outside;
}

div.panel>ul>li {
  margin-bottom: 10px;
}

div.panel>ul>li>a {
  color: black !important;
}

div.panel>ul>li>a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #d51c24;
  transition: width .3s;
}

div.panel>ul>li>a:hover::after {
  width: 100%;
  transition: width 0.5s;
}

.accordion-button:not(.collapsed),
.accordion-button {
  background-color: #d51c24 !important;
  color: #fff !important;
}

input[type=radio] {
  border: 1px solid #fff;
  padding: 0.5em;
}

.collection-title h1 {
  margin: 0px;
  padding: 0px;
  color: #333333;
}

.btn-signin {
  padding: 2px 10px;
  width: auto;
  margin: 0;
  line-height: 1.42;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0px;
  background-color: #d51c24;
  color: #fff;
  border-radius: 5px;
}

.megamenu-nav-wrapper .dropdown{
  width: max-content;
}

#breadcrumb-wrapper.breadcrumb-w-img {
  position: relative;
}

#product-wrapper {
  padding: 20px 0px 50px;
}

#product-wrapper .product-single {
  margin-bottom: 50px;
  padding: 20px;
}

.product-content .pro-content-head {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.sale-percentage-btn{
  position: absolute;
  top: 10px;
  right: 33px;
  z-index: 99;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #d51c24;
  border-radius: 100%;
  font-size: 12px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.product-single{
  margin-top: 40px!important;
}

.product-content .pro-content-head h1{
  margin: 0px;
  padding: 0px;
  color: #333333;
  font-size: x-large;
}

.pro-content-head .pro-rating{
  display: flex;
  margin-top: 10px;
}

.daban{
  margin-left: 5px;
}

.daban:before {
  content: "|";
  margin: 0 5px;
}

#product-wrapper .product-single .product-content .pro-content-head .pro-rating{
  line-height: 24px;
}

.product-content .pro-price {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.ProductPrice{
  font-size: 24px;
  margin-right: 15px;
}

.ComparePrice {
  display: inline-block;
  margin-right: 15px;
  font-size: 20px;
  float: none!important;
}

.sale-percentage{
  display: inline-block;
}

.qty-addcart > span {
  margin: 0;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  min-width: 200px;
  position: relative;
}

.js-qty > input{
  text-align: center;
}

.product-content .product-actions {
  padding-top: 20px;
}

.product-actions button.btnAddToCart {
  background: #d51c24;
  border: 1px solid #d51c24;
  color: #fff;
  padding: 0px 15px;
  margin-bottom: 10px;
}

.product-actions button.btnBuyNow {
  background: #d51c24;
  border: 1px solid #d51c24;
  color: #fff;
  padding: 0px 15px; 
}

.product-content .pro-short-desc {
  margin-bottom: 10px;
  line-height: 24px;
}

.pro-short-desc ul {
  margin: 0;
  list-style: none;
}

.pro-short-desc ul li {
  position: relative;
  padding-left: 11px;
}

.pro-short-desc ul li::before {
  content: "·";
  display: inline;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}

#product-wrapper .product-description-wrapper div.tab button.active, #product-wrapper .product-description-wrapper div.tab button:hover {
  background: #d51c24;
}

#product-wrapper .product-description-wrapper div.tab button {
  background: rgba(213, 28, 36, 0.5);
  color: #fff;
  text-align: center;
  outline: none;
  cursor: pointer;
  padding: 4px 15px;
  border: none;
}

#product-wrapper .product-description-wrapper div.tab {
  display: block;
  position: relative;
  background: rgba(213, 28, 36, 0.5);
}

#page-wrapper{
  padding: 50px 0;
}

#page-wrapper h1 {
  color: #333333;
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 15px 0px;
  border-bottom: 1px solid #e6e6e6;
}

hr.hr--small {
  margin: 15px 0;
}

footer .ft-content {
  padding: 30px 0px 0px 0px;
  color: #333333;
  border-top: 1px solid #e6e6e6;
  position: relative;
}

footer .ft-content .ft-nav {
  margin-bottom: 30px;
}

footer .ft-content h4 {
  margin: 0px 0px 15px 0px;
  padding: 0px;
  color: #333333;
}

li {
  margin-bottom: 0.25em;
}

footer .ft-content .ft-nav ul li a {
  display: inline-block;
  position: relative;
  color: #333333;
}

footer .ft-content .ft-contact {
  margin-bottom: 30px;
}

footer .ft-content .ft-contact > div {
  margin-bottom: 0.3em;
}

.ft-social-network a {
  font-size: 30px;
  margin-right: 10px;
}

.no-bullet {
  list-style: none outside;
}

footer .ft-content .ft-subscribe {
  margin-bottom: 30px;
}

footer .ft-content .ft-subscribe .ft-sub-desc {
  margin-bottom: 15px;
}